.version.untitled_5 /* version checker */
{
	color: #000011;
	background-color: #CA2CDA;
}

.html
{
	background-color: #1B140B;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u441
{
	z-index: 8;
	width: 75px;
	height: 2px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.35);
	-webkit-transform: matrix(-1,0,0,-1,75,2);
	-ms-transform: matrix(-1,0,0,-1,75,2);
	transform: matrix(-1,0,0,-1,75,2);
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -100px;
	-pie-background: rgba(255,255,255,0.35);
}

#pu440-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u440-6
{
	z-index: 2;
	width: 121px;
	min-height: 29px;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 25px;
	letter-spacing: 1px;
	position: relative;
}

#pu467-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 620px;
}

#u467-4
{
	z-index: 17;
	width: 88px;
	min-height: 23px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 67px;
}

#u470
{
	z-index: 21;
	width: 383px;
	height: 1px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.35);
	-webkit-transform: matrix(-1,0,0,-1,383,1);
	-ms-transform: matrix(-1,0,0,-1,383,1);
	transform: matrix(-1,0,0,-1,383,1);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 122px;
	-pie-background: rgba(255,255,255,0.35);
}

#u472
{
	z-index: 22;
	width: 50px;
	height: 1px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.35);
	-webkit-transform: matrix(-1,0,0,-1,50,1);
	-ms-transform: matrix(-1,0,0,-1,50,1);
	transform: matrix(-1,0,0,-1,50,1);
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	-pie-background: rgba(255,255,255,0.35);
}

#u466-5
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-left: 25px;
	position: relative;
}

#pu444
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 525px;
}

#u444
{
	z-index: 9;
	width: 435px;
	height: 276px;
	position: relative;
	background: transparent url("../images/f62-u444-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u452
{
	z-index: 10;
	width: 435px;
	height: 274px;
	margin-top: 16px;
	position: relative;
	background: transparent url("../images/f64.jpg") no-repeat left top;
	background-size: contain;
}

#u459
{
	z-index: 11;
	width: 435px;
	height: 273px;
	margin-top: 16px;
	position: relative;
	background: transparent url("../images/f65.jpg") no-repeat left top;
	background-size: contain;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

